# Ignore files and directories that should not be tracked by Git

# Ignore Operative System files
.DS_Store

# IDE and editor configuration files
.vscode
.vs

# Environment-specific files
.env
**/.env
environment_variables
**/environment_variables

# Token files
token_file
**/token_file

# SHH keys and certificates
*.pem
**/*.pem

# Zip Files
*.zip
**/*.zip

# Avoid required files to upload and downloaded inside any demo directory
**/demos/files_to_upload/**
**/demos/downloads/**

# Permit version the .gitkeep files inside demos/downloads and demos/files_to_upload directories
!**/demos/files_to_upload/.gitkeep
!**/demos/downloads/.gitkeep


# Ignore  some specific Python files
__pycache__
**/__pycache__
*.pyc
**/.pyc

pygoat/db.sqlite3
**/pygoat/db.sqlite3

venv
**/venv

# Ignore python virtual environments
env
**/env

# Ignore sqlit3 files
*.sqlite3
**/*.sqlite3
*db.sqlite3*
**/*db.sqlite3*

# Ignore some specific files
app.log
**/app.log

bin
**/bin

# Ignore Node.js modules
node_modules
**/node_modules

# Terraform files